
.carousel {
position: relative;
margin: 0 auto;
margin-top: 70px;
width: 50%;
height: 80vh;
}

.carousel-list-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}
 .carousel-list, .carousel-slide, .carousel-image {
    width: 100%;
    height: 100%;
}

.carousel-list {
    /* position: relative; */
    transition: 300ms;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
}

 .current-slide {
    opacity: 1;
}

.carousel-image {
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    height: 100%;
    width: 70px;
    --pxfrm-prnt: -90px;
    top: 0;
    font-size: 2rem;
}

.carousel-button.left {
   left: var(--pxfrm-prnt);
}

.carousel-button.right {
    right: var(--pxfrm-prnt);
 }

 .carousel-nav {
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
 }

 .carousel-indicator {
    border: none;
    margin: 0 4px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
 }

 button.current-dot {
    background-color: rgba(0, 0, 0, 0.9);
 }

 .hidden {
    display: none;
 }